{
 ; this file is read by de.otto.tesla
 :settings 
 {:explore-repositories [{:name "files" :url "/explore"}
                         {:name "public" :url "https://raw.githubusercontent.com/pink-gorilla/gorilla-explore/master/resources/list.json"} ]  
  :explore-file-directories
  {:gorilla-unittest "./notebooks"
   :gorilla-examples "../sample-notebooks/samples"
   :geschichte "../ui-geschichte/notebooks"
   :backtest "/home/andreas/Documents/quant/backtest/gorilla"
   :fquant "../../quant/clojureQuant/notebooks"
   }
  :cljs 
  {:path "http://localhost:2705/out/public/cljs-runtime/gorilla" ; base url of dependency server / bundle that gets loaded
   ;:path "/cljs-runtime/gorilla" ; base url of dependency server / bundle that gets loaded
   }}}


  