{; this file is read by de.otto.tesla
 :settings
 {:explore-repositories [{:name "files" :url "/explore"}
                         #_{:name "public" :url "https://raw.githubusercontent.com/pink-gorilla/gorilla-explore/master/resources/list.json"}]
  :explore-file-directories
  {:gorilla-notebook "./notebooks"
   ;:gorilla-examples "../sample-notebooks/samples" ; they are empty now.
   ;:gorilla-ui "../gorilla-ui/notebooks"
   ;:gorilla-plot "../gorilla-plot/notebooks"
   ;:gorilla-cljs "../kernel-cljs-shadow/notebooks"
   ; libraries in progress
   ;:geschichte "../ui-geschichte/notebooks"
   ; quant project
   :backtest "../../quant/backtest/notebooks"
   ;:fquant "../../quant/clojureQuant/notebooks"
   :trateg "../../quant/trateg/notebooks"
   }
  :cljs
  {:kernel {:path "http://localhost:2705/bundles/gorilla" ; base url of dependency server / bundle that gets loaded
   ;:path "/bundles/gorilla" ; base url of dependency server / bundle that gets loaded
            }}}}


