.idea
docker
attic
src
*.clj
*.sh
*.md
dev-resources
Dockerfile
env
favicon
index.html
LICENCE.txt
out
pom.xml
README.md
script
target/classes
target/cljsbuild
target/cljsbuild-crossover
target/stale
test
ws
