node_modules
.shadow-cljs
target
.nrepl-port
.lein-repl-history
/.calva
/.lsp
shadow-cljs.edn
package.json
package-lock.json
creds.edn
goldly_bindings_generated.cljs
webly-routes.edn
.cpcache
pom.xml
karma.conf.js
bundel/deps.edn