;;^{:css-dirs            ["resources/gorilla-repl-client/css"]
;;  :watch-dirs          ["src/cljs" "src/cljc" "env/dev/cljs"]}
{:main            pinkgorilla.dev
 :devcards true
 ;; :source-paths    ["src/cljs" "src/cljc" "test/cljs" "env/dev/cljs"]
 :output-to       "target/cljsbuild/gorilla-repl-client/js/gorilla.js"
 :output-dir      "target/cljsbuild/gorilla-repl-client/js/out"
 :asset-path      "/js/out"
 :optimizations   :none
 :source-map      true
             ;; :preloads             [devtools.preload]
             ;; :external-config      {:devtools/config {:features-to-install :all}}
 :pretty-print    true
 :parallel-build  true
 ;; :verbose         true
 :foreign-libs    [;{:file     "resources/gorilla-repl-client/jslib/cljs-include.js"
   ; :provides ["gorilla-repl.webpack-include"
   ;            ;; "cljsjs.react"
   ;            ;; "cljsjs.react.dom"
   ;            ;; "cljsjs.react.dom.server"
   ;            ]
   ; :requires ["cljsjs.react"
   ;            "cljsjs.react.dom"]}
   ;{:file     "resources/gorilla-repl-client/jslib/cljs-extern-empty.js"
   ; :provides ["gorilla-repl.webpack-extern"]}
                   {:file     "src/npm-cljs/codemirror/mode/clojure/clojure-parinfer.js"
                    :requires ["cljsjs.codemirror"]
                    :provides ["cljsjs.codemirror.mode.clojure-parinfer"]}
                   {:file     "resources/gorilla-repl-client/jslib/mousetrap-global-bind.min.js"
                    :requires ["cljsjs.mousetrap"]
                    :provides ["cljsjs.mousetrap-global-bind"]}]
 :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
 :preloads        [day8.re-frame-10x.preload]
 :external-config {:gorilla/config {:with-cljs-kernel true}}
 }
