{:ring-handler        pinkgorilla.dev-handle/dev-handler
 :ring-server-options {:port       3449
                        ;; :host       "100.115.92.204"
                        ;; The following "abuses" knowledge that figwheel main
                        ;; leverages ring-jetty9-adapter under the covers
                       :websockets {"/repl" (ws-relay/ws-processor route/nrepl-handler)}}
             ;; :http-server-root  "public" ;; does not matter
             ;; :server-port      3449
             ;; :nrepl-port          7002
             ;; :nrepl-middleware    ["cider.piggieback/wrap-cljs-repl"
             ;;                      "cider.nrepl/cider-middleware"]
 :css-dirs            ["resources/gorilla-repl-client/css"]
 :open-file-command   "open-in-intellij"
 :watch-dirs          ["src/cljs" "src/cljc" "env/dev/cljs"]}
