{:linters
 
 {:unused-namespace
  ; namespaces in this list are those we get for side-effects.
  ; it is also possible to do regex search here:
  ; https://github.com/borkdude/clj-kondo/blob/master/doc/config.md
  {:exclude [pinkgorilla.middleware.render-values
             pinkgorilla.ui.hiccup_renderer
             pinkgorilla.routes
             pinkgorilla.subs
             pinkgorilla.events]}

  :unused-referred-var
  {:exclude [; dont be strict in referring to logging functions
             {taoensso.timbre [debug info]}             
             ]}

  :unresolved-symbol
  {:exclude [; needed for: pinkgorilla/routes.cljs app-routes
             (secretary.core/defroute [query-params projects-path renderer-path])]}

  :redundant-let
  {:level :info
   :exclude [pinkgorilla.events/kernel [kernel]]}

  :redundant-do
  {:level :info ; because the line below does not work, at least make them not ci breaking
   :exclude [pinkgorilla.kernel.jetty9-ws-relay/process-message-mem] ; TODO: this does not work 
   }
  
   
; pinkgorilla/events/kernel.cljs:21:4: warning: Redundant let expression.
  

  ; linters end
  }}


;; src/clj/.cljs:75:22: error: unresolved symbol 
