<configuration>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <!--pattern>%d{ISO8601} %-5p logger=%c thread=%t msg="%m"%n</pattern-->
            <!--pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern-->
        </encoder>
    </appender>

    <!--appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_location:-./}gorilla-notebook.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>gorilla-repl.%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender-->

    <root level="${log_level:-info}">
        <appender-ref ref="${log_appender:-consoleAppender}"/>
    </root>

</configuration>
