{:goldly {;:systems-ns [systems.fortune]
           :extensions [;[ui.site.goldly.core]
                        [pinkgorilla.ui.goldly]
                        [ui.quil.goldly]
                        [pinkgorilla.gorilla-plot.goldly]]}}
 