/*
http://open-source.braveclojure.com/stylesheets/main.css?at=1562864438
 */


.clear {
    clear: both;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.tag-container {
    height: 22px;
    padding-top: 2px;
    display: inline-block;
}

.tag {
    font-size: 0.8em;
    line-height: 1.875em;
    background: #eee;
    display: inline-block;
    padding: 0 .6em;
    margin-right: .2em;
    color: #3f464c;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

.tag:hover {
    cursor: pointer;
    /* background: #77c4d3;*/
    background: #97266D;
    color: #ffffff;
    top: -1px;
}

.tag.active {
    /*background: #ff7f66;*/
    /* pink-500 */
    background: #ED64A6;
}