@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 https://www.schemecolor.com/navy-and-hot-pink.php
 https://www.schemecolor.com/green-and-pink-pendant-color-scheme.php
 */

/* https://tailwindcss.com/docs/functions-and-directives/ */
/* Experimental samples */
.pg-btn {
    @apply font-bold py-2 px-4 rounded;
}
.pg-btn-blue {
    @apply bg-blue-500 text-white;
}
.pg-btn-blue:hover {
    @apply bg-blue-700;
}

.pg-cell-actions {
    @apply mt-2 text-green-600 mr-2 rounded p-1;
}
.pg-cell-actions:hover {
    @apply bg-green-600 text-white cursor-pointer;
}

.pg-cell-move {
   @apply block text-pink-800 rounded p-1;
}

.pg-cell-move:hover {
    @apply bg-pink-800 text-white cursor-pointer;
}

.pg-top-nav-item {
    @apply mt-2 text-pink-600 mr-2 rounded p-1;
}

.pg-top-nav-item:hover {
    @apply bg-pink-600 text-white cursor-pointer;
}

.pg-top-action-item {
    @apply mt-2 text-green-600 mr-2 rounded p-1;
}

.pg-top-action-item:hover {
    @apply bg-green-600 text-white cursor-pointer;
}

.pg-kernel-toggle {
    @apply mt-2 text-pink-600 mr-2 rounded p-1;
}

.pg-kernel-toggle:hover {
    @apply bg-pink-600 text-white cursor-pointer;
}

.pg-storage-prop {
    @apply inline-block bg-gray-200 px-1 py-1 text-sm font-semibold text-gray-700;
}


/*
@variants focus, pg-hover {
    .rotate-0 {
        transform: rotate(0deg);
    }
    .rotate-90 {
        transform: rotate(90deg);
    }
}
@responsive {
    .pg-bg-gradient-brand {
        background-image: linear-gradient(blue, green);
    }
}

/*
@screen pg-sm {
}
 */
/* green-800*/
.pg-col-1 {
  color: #155812;
}
/* green-600*/
.pg-col-2 {
    color: #5EA01A;
}
/* green-400*/
.pg-col-3 {
    color: #7BC063;
}
/* pink-800*/
.pg-col-4 {
    color: #A01361;
}
/* pink-500*/
.pg-col-5 {
    color: #EC3E9C;
}

.pg-content-area {
    height: calc(100vh - theme('spacing.12'));
}

